<h1><ed-logo></ed-logo>rik donohoo <small>angular.js web developer, husband, father &amp; aspiring chef</small></h1>
<div class="container-fluid">
	<div class="row">
		<div class="aside col-sm-4" id="about">
			<img src="/img/erik.png" class="img-responsive img-rounded">
			<div class="caption">
				<h3>Keep calm and code on</h3>
				<p>
					I love web development.  I love new things.  If you have some new thing you need developed for the web I may be able to help.
				</p>
				<p>
					Contact me
				</p>
				<hr>
				<p>
					<div class="social">
						<a href="https://facebook.com/erik.donohoo" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
						<a href="https://plus.google.com/+ErikDonohoo" target="_blank"><i class="fa fa-google-plus-square fa-3x"></i></a>
						<a href="https://github.com/erikdonohoo" target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
						<a href="https://twitter.com/erikdonohoo" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
					</div>
				</p>
			</div>
		</div>
		<section id="main" class="col-sm-8">
			<p>
				I have been developing for 4 years with special emphasis on web for about a year and a half.  I currently work at the <a href="http://mtc.byu.edu" target="_blank">Misisonary Training Center</a> for the LDS church (aka. <a href="http://mormon.org" target="_blank">Mormons</a>).  I oversee and develop internal applications for helping missionaries at the MTC and in the field.
			</p>
			<p>
				When angular.js came to town we jumped all over it.  I have since gobbled up everything I can about angular and continue to learn and write modules and pieces we use at the MTC, including an OAuth2 module for handling authentication for all our angular apps.
			</p>
			<pre class="prettyprint">
 function(['$scope', function($s){
   var s = {};
   s.model = 'yeahs';
   s.time = 34133940939033;
   $s.s = s;
 }]);
</pre>
		</section>
	</div>
</div>