<h1><ed-logo></ed-logo>rik donohoo <small>web developer, lover of angular.js &amp; aspiring gourmet chef</small></h1>
<div class="aside">
	<img src="/img/erik.jpg" class="img-responsive img-thumbnail">
	<div class="caption">
		<h3>One cool dude</h3>
		<p>
			I love development.  I love new things.  If you have some new thing you need developed I may be able to help
		</p>
		<p>
			Contact me
		</p>
		<hr>
		<p>
			<div class="row-fluid clearfix">
				<div class="col-xs-4">
					<a href="https://facebook.com/erik.donohoo" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
				</div>
				<div class="col-xs-4">
					<a href="https://plus.google.com/+ErikDonohoo" target="_blank"><i class="fa fa-google-plus-square fa-3x"></i></a>
				</div>
				<div class="col-xs-4">
					<a href="https://github.com/erikdonohoo" target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
				</div>
			</div>
		</p>
	</div>
</div>

<section>
	<p>
		I love the web and discovering new ways to do things better.
	</p>
</section>