<html ng-app="ed.web">
<head>
	<meta charset="utf8">
	<title>(e)rik donohoo</title>
	<base href="/">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
	<nav class="navbar navbar-fixed-top">
		<div class="container-fluid" ng-init="path = 'home';">
			<a ng-click="path = 'home';" class="navbar-brand" href="#"><ed-logo size="40"></ed-logo></a>
			<ul class="nav nav-pills">
				<li ng-class="{active: path == 'blog'}" ng-click="path = 'blog';"><a href="#">Blog</a></li>
				<li ng-class="{active: path == 'work'}" ng-click="path = 'work';"><a href="#">Work</a></li>
				<li ng-class="{active: path == 'play'}" ng-click="path = 'play';"><a href="#">Play</a></li>
			</ul>
		</div>
	</nav>
	<div class="app">
		<div class="container">
			<h1>Welcome</h1>
		</div>
	</div>

	<script src="/js/lib/angular/angular.js"></script>
	<script src="/js/lib/angular/angular-route.js"></script>
	<script src="/js/lib/angular/angular-resource.js"></script>
	<script src="/js/lib/angular/angular-animate.js"></script>
	<script src="/js/app.js"></script>
</body>
</html>