@import url(https://fonts.googleapis.com/css?family=Duru+Sans);
@import url(https://fonts.googleapis.com/css?family=Hammersmith+One);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Nova+Flat);
body {
  padding-top: 80px;
  font-size: 16px;
  font-family: 'Duru Sans', sans-serif;
  background-color: #025167;
  color: #f5f5f5;
  line-height: 24px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  min-height: 100%;
}
em {
  color: #ff7940;
}
a {
  color: #75ddfb;
  border-bottom-style: dotted;
}
a:hover {
  text-decoration: none;
  color: #f5f5f5;
}
.social a {
  width: 23%;
  text-align: center;
  display: inline-block;
}
.loading {
  text-align: center;
  width: 100%;
  margin-top: 100px;
  position: relative;
}
.loading i.fa {
  -webkit-animation: spin 1s linear infinite normal;
  -moz-animation: spin 1s linear infinite normal;
  -ms-animation: spin 1s linear infinite normal;
  -o-animation: spin 1s linear infinite normal;
  animation: spin 1s linear infinite normal;
}
.loading div.load,
.loading div.slow {
  font-family: 'Nova Flat', cursive;
  font-size: 26px;
  width: 100%;
  text-align: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #80ea69;
}
section {
  margin: 0 0 10px 0;
}
.ninja {
  visibility: hidden;
}
nav.navbar {
  vertical-align: middle;
  padding: 10px 15px;
  background-color: #057d9f;
  border-bottom: 4px solid #a7e9fc;
  color: #75ddfb;
  border-radius: 0px;
  box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.25);
}
nav.navbar .menu {
  display: none;
}
.logo {
  color: #f5f5f5;
  padding: 0;
  font-family: 'Nova Flat', cursive;
  display: inline-block;
  font-size: inherit;
  position: relative;
}
.logo span {
  display: inline-block;
  margin-top: -0.1em;
  position: relative;
  bottom: 4px;
  font-size: inherit;
}
.logo:before {
  position: absolute;
  background-color: #80ea69;
  content: ' ';
  width: 97%;
  height: 100%;
  left: 1px;
  z-index: -2;
  border-radius: 100px;
}
.logo:after {
  position: absolute;
  color: #216477;
  content: '\f0ac';
  font-family: 'FontAwesome';
  font-size: 159%;
  top: -9px;
  left: 0px;
  z-index: -1;
  text-shadow: none;
  -webkit-animation: spin 6s linear infinite;
  -moz-animation: spin 6s linear infinite;
  -ms-animation: spin 6s linear infinite;
  -o-animation: spin 6s linear infinite;
  animation: spin 6s linear infinite;
}
a.navbar-brand {
  padding: 0;
  margin: 0 20px 0 0;
  height: auto;
  line-height: initial;
  color: #f5f5f5;
  border: none;
}
ul.nav {
  margin-top: 4px;
}
.show-force {
  display: block !important;
}
.ed-scroll {
  position: fixed;
  z-index: 100;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0.8;
  color: #f5f5f5;
  cursor: pointer;
}
.app {
  margin-bottom: 10px;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  /* Negative indent footer by it's height */
  margin: 0 auto -70px;
  padding: 0 0 70px;
}
.aside {
  padding: 10px;
  border: 4px solid #a7e9fc;
  border-radius: 5px;
  background-color: #057d9f;
}
.aside img {
  margin: 0 auto;
}
.aside a {
  color: inherit;
  border: none;
}
.aside a:hover {
  color: inherit;
}
.aside i.fa {
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.25);
}
.aside i.fa:hover {
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 2px 1px 2px #057d9f, 0 0 0 #000000, 2px 1px 2px #057d9f;
}
.aside p {
  text-align: justify;
}
footer {
  height: 70px;
  background-color: #057d9f;
  border-top: 4px solid #a7e9fc;
  width: 100%;
  margin: 0;
  z-index: 100;
}
.ed-code {
  border: 4px solid #b2ffa2;
  border-radius: 8px;
  background-color: #333333;
  padding: 15px 0 15px 0;
  overflow: hidden;
  margin-bottom: 15px;
}
.ed-code pre.prettyprint {
  font-size: 16px;
  border-radius: 0;
  margin-bottom: 0;
  border: none;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.45);
  min-width: 768px;
}
.ed-code i.code-link {
  float: right;
  cursor: pointer;
  color: #75ddfb;
  text-shadow: 2px 2px 1px #216477;
  clear: right;
  margin-right: 15px;
}
.ed-code i.code-link:hover {
  color: #057d9f;
  text-shadow: 2px 2px 1px #025167;
}
@media (max-width: 769px) {
  body {
    padding-top: 50px;
  }
  nav {
    padding-bottom: 0;
  }
  nav.navbar .menu {
    display: block;
    float: right;
    color: #f5f5f5;
    margin: 12px 15px 0 0;
    cursor: pointer;
  }
  nav.navbar .menu.open {
    text-shadow: -2px -2px 0px rgba(0, 0, 0, 0.25);
  }
  section {
    margin: 10px 0;
  }
  ul.nav {
    height: 140px;
    margin-top: 57px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  ul.nav li {
    height: 33%;
  }
  ul.nav.ng-hide-add,
  ul.nav.ng-hide-remove {
    display: block!important;
  }
  ul.nav.ng-hide {
    height: 0px;
  }
  ul.nav.ng-hide li {
    display: none;
    height: 0px;
  }
  ul.nav li:last-child {
    margin-bottom: -5px;
  }
  nav.navbar,
  nav.navbar .container-fluid {
    padding: 5px 0;
    margin-top: -3px;
  }
  nav.navbar {
    padding: 5px 0 0 0;
  }
  ul.nav,
  .navbar-brand {
    padding-left: 0px;
    padding-right: 0px;
  }
  a.navbar-brand {
    margin: 4px 0 0 15px;
  }
  ul.nav li {
    margin-left: 0px;
    display: block;
    width: 100%;
    text-align: center;
    border-top: 1px solid #61b7cf;
  }
}
.nav li {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  margin: auto 25px auto 25px;
  margin-left: 2px;
}
.nav li a {
  color: inherit;
  position: relative;
  text-decoration: none;
  border: none;
}
.nav li a:before,
.nav li a:after {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  position: absolute;
}
.nav li a:before {
  left: 50%;
  content: '{';
}
.nav li a:after {
  right: 50%;
  content: '}';
}
.nav li.active a:before,
.nav li.active a:after {
  opacity: 1;
}
.nav li.active a:before {
  left: 0%;
}
.nav li.active a:after {
  content: '}';
  right: 0%;
}
.nav li:hover a,
.nav li.active a,
.nav li.active:hover a {
  color: #f5f5f5;
  background-color: #057d9f;
}
/* desert scheme ported from vim to google prettify */
pre.prettyprint {
  display: block;
  background-color: #333333;
}
pre .nocode {
  background-color: none;
  color: #000000;
}
pre .str {
  color: #ffa0a0;
}
/* string  - pink */
pre .kwd {
  color: #f0e68c;
  font-weight: bold;
}
pre .com {
  color: #87ceeb;
}
/* comment - skyblue */
pre .typ {
  color: #98fb98;
}
/* type    - lightgreen */
pre .lit {
  color: #cd5c5c;
}
/* literal - darkred */
pre .pun {
  color: #ffffff;
}
/* punctuation */
pre .pln {
  color: #ffffff;
}
/* plaintext */
pre .tag {
  color: #f0e68c;
  font-weight: bold;
}
/* html/xml tag    - lightyellow */
pre .atn {
  color: #bdb76b;
  font-weight: bold;
}
/* attribute name  - khaki */
pre .atv {
  color: #ffa0a0;
}
/* attribute value - pink */
pre .dec {
  color: #98fb98;
}
/* decimal         - lightgreen */
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
}
/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}
/* Alternate shading for lines */
@media print {
  pre.prettyprint {
    background-color: none;
  }
  pre .str,
  code .str {
    color: #006600;
  }
  pre .kwd,
  code .kwd {
    color: #006;
    font-weight: bold;
  }
  pre .com,
  code .com {
    color: #600;
    font-style: italic;
  }
  pre .typ,
  code .typ {
    color: #404;
    font-weight: bold;
  }
  pre .lit,
  code .lit {
    color: #004444;
  }
  pre .pun,
  code .pun {
    color: #444400;
  }
  pre .pln,
  code .pln {
    color: #000000;
  }
  pre .tag,
  code .tag {
    color: #006;
    font-weight: bold;
  }
  pre .atn,
  code .atn {
    color: #440044;
  }
  pre .atv,
  code .atv {
    color: #006600;
  }
}
.archive {
  margin-bottom: 70px;
}
.archive ul {
  list-style: none;
  padding-left: 0;
}
.archive ul li {
  position: relative;
  height: 30px;
}
.archive ul li a::before {
  color: #80ea69;
  font-family: 'FontAwesome';
  content: '\f097';
  position: absolute;
  left: -20px;
  top: 2px;
}
.archive ul li.all a:before {
  font-family: 'FontAwesome';
  color: #ff7940;
}
form.search {
  position: relative;
}
.search-submit {
  color: #f5f5f5;
  font-family: 'Nova Flat', cursive;
  width: 100px;
  display: inline-block;
  height: 40px;
  font-size: 18px;
  margin-left: 20px;
  border-radius: 10px;
  border: 2px solid #a7e9fc;
  background-color: #057d9f;
  position: absolute;
  top: 20px;
  left: 380px;
  padding: 8px 10px;
}
.search-submit:hover {
  border-color: #b2ffa2;
}
div.search {
  background-color: #f5f5f5;
  padding: 3px 5px 3px 40px;
  border-radius: 10px;
  margin: 20px 0px;
  position: relative;
  display: inline-block;
  border: 2px solid #75ddfb;
}
div.search.focus {
  box-shadow: inset 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
}
div.search i.fa-search {
  position: absolute;
  left: 5px;
  color: #057d9f;
  top: 0px;
}
input.search {
  width: 320px;
  padding-left: 0;
  height: 30px;
  background-color: transparent;
  color: #333;
  border: none;
}
input.search:focus {
  outline: none;
}
.noposts {
  margin-top: 100px;
  color: #ff7940;
  font-family: 'Nova Flat', cursive;
  text-align: center;
}
.post hr {
  margin-top: 0;
}
img.headline {
  float: left;
  max-width: 40%;
  border-radius: 6px;
  border: 4px solid #a7e9fc;
  margin: 0 20px 0 0;
  box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.25);
}
.post + .post {
  border-top: 2px solid #ff4c00;
}
.post {
  margin-bottom: 20px;
}
.post ul {
  list-style: none;
}
.post ul li {
  padding: 10px;
  color: #b2ffa2;
  position: relative;
}
.post ul li:before {
  font-family: 'FontAwesome';
  content: '\f192';
  color: #ff4c00;
  position: absolute;
  left: -10px;
}
.post .info {
  font-size: 18px;
  color: #ff7940;
  margin-bottom: 10px;
  postion: relative;
}
.post .date {
  font-size: inherit;
  text-align: left;
  position: relative;
  float: left;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 10px;
}
.post .date:before {
  font-family: 'FontAwesome';
  position: absolute;
  left: -5px;
  content: '\f017';
}
.post .date,
.post .tag,
.post .more {
  padding: 5px 15px;
}
.post .tags,
.post .tag {
  float: right;
}
.post .more:hover,
.post .tag:hover,
.post .tag.activetag,
.post .tag:active,
.post img.headline:active,
.post img.headline:hover {
  color: #a7e9fc;
  border-color: #b2ffa2;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.35);
}
.post .title {
  text-decoration: none;
}
.post .title:active {
  text-decoration: underline;
}
.post .tag,
.post .more {
  border-radius: 10px;
  display: inline-block;
  border: 2px solid #a7e9fc;
  margin: 0 10px 10px 0;
  color: #f5f5f5;
}
.post .tag:before {
  position: relative;
  font-family: 'FontAwesome';
  content: '\f02b';
  left: -10px;
}
a.img-a {
  border-bottom: none;
}
@media (max-width: 1200px) {
  .post .info .tags,
  .post .info .tags .tag {
    float: left;
  }
  .post .date {
    display: block;
  }
}
@media (max-width: 767px) {
  .archive {
    display: none;
  }
  img.headline {
    min-width: 100%;
    margin-right: 0;
    display: inline-block;
    float: none;
  }
  .shrink {
    padding: 0;
  }
  div.search {
    margin-top: 50px;
    display: block;
    width: 100%;
    height: 40px;
  }
  input.search {
    width: 100%;
  }
  .search-submit {
    display: none;
  }
  .post .info .tags {
    display: none;
  }
}
