// Color Scheme
// Oranges
@orange:#FF4C00;
@midorange:#BF5B30;
@heavyorange:#A63100;
@lightorange:#FF7940;
@paleorange:#FF9D73;

// Blues
@blue:#057D9F;
@midblue:#216477;
@heavyblue:#025167;
@lightblue:#39AECF;
@paleblue:#61B7CF;

// Greens
@green:#25D500;
@midgreen:#3DA028;
@heavygreen:#188A00;
@lightgreen:#59EA3A;
@palegreen:#80EA69;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Duru+Sans);
@import url(https://fonts.googleapis.com/css?family=Hammersmith+One);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Nova+Flat);
@font-main:'Duru Sans', sans-serif;
@font-accent:'Hammersmith One', sans-serif;
@font-header:'Montserrat', sans-serif;
@font-brand:'Nova Flat', cursive;

body {
	padding-top:70px;
	font-family:@font-main;
}
nav.navbar {
	vertical-align: middle;
	padding:15px 40px;
	background-color:@blue;
	border-bottom:2px solid @paleblue;
	border-top:2px solid @paleblue;
}
.logo {
	color:whitesmoke;
	padding:0;
	font-family:@font-brand;
	span {
		display:inline-block;
		margin-top:-5px;
		position:relative;
		bottom:3px;
	}
}
.navbar-brand {
	padding:0;
	margin-top:-13px;
	margin-right:80px;
	
}
.nav li {
	font-family:@font-header;
	font-size:20px;
	letter-spacing: 1px;
	margin:0 25px;
	a {
		color:@paleblue;
		background-color:@blue;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	&.active a, &.active:hover a {
		border-bottom:2px solid whitesmoke;
	}
	&:hover a, &.active a, &.active:hover a  {
		color:whitesmoke;
		background-color:@blue;
	}
}
.tall {
	height:2000px;
}