.archive {
	ul {
		list-style: none;
	}
	ul li {
		position:relative;
		height:30px;
		&:before {
			color:@palegreen;
			font-family:'FontAwesome';
			content:'\f196';
			position:absolute;
			left:-20px;
			top:2px;
		}
	}
}

@media (max-width:769px) {
	.archive {
		display:none;
	}
}